@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family:"Poppins" , sans-serif ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 body {
   background-color: #000000;
 }

 .header {
   position: fixed;
   top: 0;
   left:0;
   width: 100%;
   padding: 20px 10%;
   background-color: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
 }

 .logo {
   font-size: 25px;
   color: #00ffff;
   text-decoration: none;
   font-weight: bold;
 }

 .navbar a{
   font-size: 18px;
   color: ghostwhite;
   text-decoration: none;
   font-weight: 500;
   margin-left: 35px;
   transition: .3s;
 }

 .navbar a:hover,
 .navbar a.active {
   color: #00ffff;
 }

.home {
   display: flex;
   align-items: center;
   height: 100vh;
   padding: 0 10%;
}

.home-content {
   max-width: 600px;
}

.home-content h1 {
   font-size: 56px;
   font-weight: 700;
   color:ghostwhite;
}

.home-content h3 {
   font-size: 32px;
   font-weight: 700;
   color: #00ffff;
}

.home-content p {
   font-size: 16px;
   color: ghostwhite;
}

.home-content .btn-box {
   display: flex;
   justify-content: space-between;
   gap: 8px;
   width: 345px;
   height: 50px;
   background-color: transparent;
}
.btn-box a {
   width: 345px;
   height: 50px;
   background-color: transparent;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border:2px solid #00baba;
   border-radius: 8px;
   font-size:19px;
   color:#00f8f8;
   text-decoration: none;
   font-weight:none;
   letter-spacing:1px;
}
